*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;

}
body{
  width: 100%;
  background-color:#f0f2f5;
}
form{
  background-color: #fff;
  position: absolute;
  width: 320px;
  height: 270px;
  padding: 20px 5px 20px 5px;
  margin:10vh 850px;
  border-radius: 5px;
  box-shadow: 5px 5px 6px -7px;

}
input[type='text'],input[type='password']{
  display: block;
  background-color: #fff;
  margin: auto;
  border: 1.5px solid rgb(200,200,200);
  width: 200px;
  padding: 10px 40px;
  border-radius: 5px;
  text-align: center;
  color:black;
  font-family: 'Segoe UI';
  font-size: 15px;

  

}
button{
  border: none;
  background-color: blue;
  color: white;
  margin: auto;
  width: 283px;
  display: block;
  border-radius: 5px;
  padding: 10px 0;
  font-weight: bold;
  cursor: pointer;
}
.btn{
  background-color: #42b72a;
  width: 180px;
  font-size: 14px;
  text-align: center;
}
.f-pws{
  text-decoration: none;
  display: block;
  text-align: center;
  color: blue;
  font-weight: 400;
  cursor: pointer;
  font-family: 'Segoe UI';
}
.line{
  border-top: 1px solid #222;
  opacity: 0.2;
}
.sub-link{
 
  width: 279px;
  position: relative;
  color: #222;
  font-family: 'Segoe UI', Arial;
  padding: 350px 890px;
  font-size: 10px;
  font-weight: 600;
}
.sub-link a{
 
color: black;
font-weight: bold;
font-size: 13px;
cursor: pointer;
}
h2{
  font-size: 49px;
  padding: 0;
  color: blue;
  font-weight: 600;
  font-family: 'Segoe UI', Arial;
}
.f-container  {
  width: 350px;
  margin-left: 300px;
  margin-top: 30vh;
}
.f-container p{
  font-size: 20px;


}
